.home-page {
  background-color: #f8f8f8;
  min-height: 100vh;
}

.home-page .card {
  margin-bottom: 15px;
}

.home-page__content {
  margin-top: 45px;
}

.home-page .buttons-list {
  margin-bottom: 40px;
}
